/* You can add global styles to this file, and also import other style files */
body{
    --green : #00E217;
    --dark-purple : #471F79;
    --light-purple : #D435EE;
    height:100vh;
    margin:0px;
}
*{
    font-family: 'SF Pro Display','Aclonica', sans-serif;
    box-sizing: border-box;
    color:white;
    user-select: none;
    font-weight: bold;
}
.flex-row{
    display: flex;
    align-items: center;
    gap:15px;
}


#filigrane{
    position: absolute;
    right:20px;
    top:20px;
    width:300px;
    opacity: 0.33;
}

.screen{
    height: 100vh;
    padding: 40px;
    position: relative;
}

/* Gradient Background animated------------------------*/
.gradient-bg{
    background: linear-gradient(261deg,var(--light-purple),#6631a8,var(--dark-purple));
    background-size: 230% 230%;
    animation : gradiante 5s ease infinite;
}
@keyframes gradiante {
    0%{
        background-position: 0% 50%;
    }
    75%{
        background-position: 100% 0%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 100% 25%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.font-s{
    font-size : 20px;
}
.font-m{
    font-size:25px;
}
.font-l{
    font-size: 40px;
}
.font-xl{
    font-size: 55px;
}

.bounce{
    animation: 1s ease-in 0s infinite alternate-reverse bounce;
}

@keyframes bounce {
    0%{
        scale : 0.95;
    }
    100%{
        scale : 1.05;
    }
}
.separator{
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.25),transparent);
}

.sips_value{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color : red;
}

*{
    scrollbar-color : #0000003b transparent;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
}